body{
    background-color: antiquewhite;
}
h1 { 
    text-align: center;
    font-size: 40px;
    color:blue;
    text-decoration: underline;
    
    text-transform: uppercase;

}
p{
    color: black;
    text-transform: capitalize; }
    